@import url('https://fonts.googleapis.com/css?family=PT+Sans');

html {
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;  
}

.page {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* flex: 1 0 auto; */
    display: flex;
    flex-flow: column;
    font-family:'PT Sans', sans-serif;
    /* line-height: 22px; */
    /* justify-content: space-between; */

}
.head {
    /* width: 1400px; */
    height: 220px;
    /* margin: auto; */
    background-color: #E1E7EA;
}
.header {
    width: 980px;
    height: 220px;
    margin: auto;  
    /* padding: 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header1 {  
    height: 100px;
    width: 100px;
    /* margin-bottom: 50px;
    margin-top: 50px; */
    
}
.header2 {
    width: 180px;
    /* margin-bottom: 40px;
    margin-top: 30px; */
    font-size: 14px;
    line-height: 22px;
    color: grey;
    /* background-color: blue; */
    margin-left: 5px;
}   
.header3 {
    flex: 10 1 auto;
    text-align: right;
    font-size: 24px;
    line-height: 22px;
    color: grey;
}
nav {
    width: 100%;
    background-color: #777777;
    font-size: 28px;
}
nav ul {
    width: 980px;
    display: flex;
    margin: auto;
    padding: 15px;
    list-style-type: none;
    justify-content: center;
    text-align: center;
    
}
nav li {
    flex: 1 0 auto;
    margin: 0 1px;
    border-right: white  solid 2px;
   
}
nav li:last-child {
    border: none;
}
nav li a,
.footer1 a {
    text-decoration: none;
    color: whitesmoke;
}
.slider {
    width: 100%;
    text-align: center;
}
.main-content {
    width: 980px;
    margin: 0 auto ;
}

.content {
    display: flex;
    margin-top: 30px;
    margin-bottom: 150px;
    /* padding-bottom: 300px; */
    

}
aside {
    display: flex;
    flex-direction: column;
    background-color: #777777;
    /* align-items: stretch; */
    height: max-content;
    flex: 0 0 340px;
    color: whitesmoke;
    justify-content: flex-start;
    padding-bottom: 20px;

}.sidebar-block {
    margin-left: 35px;
    margin-right: 50px;
}
.archive {
    text-align: right;
}
article {
    flex: 0 0 640px;
    padding-left: 60px;
    color: #777777;
}
.footer {
    width: 100%;
    margin-bottom: 0;
    margin-top: auto;
    background-color: #777777;
    padding-top: 35px;
    padding-bottom: 35px;
}
.footer-main {
    width: 980px;
    color: whitesmoke;
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-flow: row;   
}
.footer2 ul {
    list-style-type: none;
}
.footer2 li a,
.footer3-block-txt a {
    color: whitesmoke;
}
.footer3-block {
    display: flex;
    flex-flow: row;
    justify-content: space-between;m
}
.footer3-block-img {
    margin-top: 20px;
}
.footer3-block-txt {
    width: 185px;
    margin-left: 10px;
    word-wrap: break-word;
}
* {
    box-sizing: border-box;
}